.Code {
    color: inherit;

    --gutter-left-width: 1.2rem;
    --gutter-right-width: 0.2rem;
    --line-height: 1.25em;
    --line-number-height: 0.8em; /* A little smaller than the size of the code text (keep in mind the em unit is relative to --line-height) */
}

.Line {
    display: inline-block;
    width: 100%;
    height: var(--line-height);
    line-height: calc(var(--line-height) * 0.95);
    padding-inline-start: var(--gutter-left-width);
    padding-inline-end: var(--gutter-right-width);

    position: relative;
}

.Line:nth-child(5n)::before {
    content: attr(data-line-number);
    display: block;

    /* Left-aligned (with a tiny margin), vertically centered */
    position: absolute;
    left: 0;
    top: 50%;
    translate: 0 -50%;
    margin-left: 0.1rem;

    /* Not full width so it doesn't go right up next to the line content */
    width: calc(0.6 * var(--gutter-left-width));
    height: var(--line-number-height);
    font-size: var(--line-number-height);
    line-height: var(--line-number-height);

    /* Text is a number so right-align */
    text-align: end;

    color: var(--color-text-disabled);
}

body {
    --color-bg-line-success: rgb(204, 255, 216);
    --color-bg-line-success-faded: rgb(230, 255, 236);
    --color-bg-line-danger: rgb(255, 215, 213);
    --color-bg-line-danger-faded: rgb(255, 235, 233);
    --color-bg-line-warn: rgb(255, 254, 204);
    --color-bg-line-warn-faded: rgb(255, 255, 230);
}

body[data-theme="dark"] {
    --color-bg-line-success: #1c4428;
    --color-bg-line-success-faded: #12261e;
    --color-bg-line-danger: #542426;
    --color-bg-line-danger-faded: #25171c;
    --color-bg-line-warn: #525424;
    --color-bg-line-warn-faded: #252517;
}

.CovFull {
    background-color: var(--color-bg-line-success);
}

.CovPartial {
    background-color: var(--color-bg-line-warn);
}

.CovNone {
    background-color: var(--color-bg-line-danger);
}
