.CoverageTable {
    white-space: nowrap;

    font-size: 0.9rem;

    --indent: 0;
}

.Row {
    margin-left: calc(var(--indent, 0) * 2rem);

    display: grid;
    grid-template-columns: 2rem 1fr 4rem 4rem 4rem;

    background: var(--color-bg);

    height: 1.5rem;
    &.contracted {
        height: 0;
        opacity: 0;
    }

    transition: all 180ms ease-in-out;
}

.HeadColumn:not(:nth-child(2)) {
    text-align: end;
}

.Head {
    position: sticky;
    top: 0;

    background: var(--color-bg);

    text-align: left;
    font-weight: normal;
}

.ExpandChevron {
    user-select: none;
}

.HiddenChevron {
    pointer-events: none;
}

.Number {
    text-align: end;
}
