.CoverageTable {
    white-space: nowrap;

    font-size: 0.9rem;

    --indent: 0;
}

.Row {
    margin-left: calc(var(--indent, 0) * 2rem);

    display: grid;
    grid-template-columns: 2rem 1fr 4rem 4rem 4rem;

    background: var(--color-bg);

    height: 1.5rem;

    &.contracted {
        height: 0;
        opacity: 0;
    }

    transition: all 180ms ease-in-out;
}

.HeadColumn:not(:nth-child(2)) {
    text-align: end;
}

.Head {
    position: sticky;
    top: 0;

    background: var(--color-bg);

    text-align: left;
    font-weight: normal;
}

.ExpandChevron {
    user-select: none;
}

.HiddenChevron {
    pointer-events: none;
}

.Number {
    text-align: end;
}

.DialogBackdrop {
    position: fixed;
    inset: 0;
    background: #00000030;
}

.Dialog {
    position: relative;
    z-index: 50;
}

.DialogPanelContainer {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
}

.DialogPanel {
    margin-inline: auto;
    max-width: min(64rem, 90%);
    max-height: min(64rem, 90%);

    padding: 1rem 2rem;
    border-radius: 0.8rem;

    background: var(--color-bg);

    overflow: auto;
}

.DialogTitle {
    margin: 0;
}
