.InlineLinkButton {
    /* Don't apply browser-default styling */
    all: revert;

    background: none;
    border: none;
    padding: 0;
    text-decoration: none;
    cursor: pointer;
    color: var(--color-link);
    user-select: auto;
}

.InlineLinkButton:hover {
    color: var(--color-link-hover);
}

.InlineLinkButton:focus {
    /* Remove default outline applied by Chrome */
    outline: none;
}

/* E.g. when tabbing */
.InlineLinkButton:focus-visible {
    box-shadow: 0 0 0 2px var(--color-border-hover);
}

.LinkButton {
    padding-inline: 1rem;
}

.LinkButton:first-child {
    /*padding-inline-start: 0;*/
}
