.CoverageStatsOverview {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.Percent {
    grid-column: 1;
}

.CoveredLoC {
    grid-column: 2;
}

.ReachableLoC {
    grid-column: 3;
}

.Display {
    grid-row: 1;
}

.Label {
    grid-row: 2;

    text-align: center;
}

body {
    --color-gauge-arc-background: #9f9f9f; /* TODO */
}

body[data-theme="dark"] {
    --color-gauge-arc-background: #5c5c5c;
}

.arcFillBackground {
    fill: var(--color-gauge-arc-background);
}
