body {
    margin: 0;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    user-select: none;
}

body.debug-outlines * {
    outline: 1px solid #f00 !important;
}

body {
    --color-text: rgb(31, 35, 38);
    --color-text-secondary: rgb(115, 117, 119);
    --color-text-disabled: rgb(153, 153, 153);
    --color-text-active: rgb(31, 35, 38);

    --color-bg: white;
    --color-bg-dialog: rgb(255, 255, 255);
    --color-link: rgb(15, 91, 153);
    --color-link-hover: rgb(255, 0, 140);
    --color-border-hover: rgb(128, 198, 255);
    --color-disabled-light: rgb(153, 153, 153);

    --color-border: rgb(197, 209, 219);
    --color-main: rgb(0, 128, 229);

    color: var(--color-text);
    background-color: var(--color-bg);
}

body[data-theme="dark"] {
    --color-text: rgb(195, 198, 204);
    --color-text-secondary: rgb(137, 141, 148);
    --color-text-disabled: rgb(100, 103, 110);
    --color-text-active: rgb(255, 255, 255);

    --color-bg: #3c3f41;
    --color-bg-dialog: rgb(41, 43, 46);
    --color-link: rgb(133, 166, 227);
    --color-link-hover: rgb(224, 103, 178);
    --color-border-hover: rgb(77, 100, 148);
    --color-disabled-light: rgb(135, 135, 135);

    --color-border: rgb(90, 93, 99);
    --color-main: rgb(53, 116, 240);
}

main {
    width: min(100%, 50rem);
    margin-inline: auto;
}

html {
    /* Workaround for a nasty issue in headlessui, see https://github.com/tailwindlabs/headlessui/issues/762 */
    padding-right: 0 !important;
}
