body {
    margin: 0;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    user-select: none;
}

body.debug-outlines * {
    outline: 1px solid #f00 !important;
}


body {
    --color-bg: white;
    --color-bg-dialog: rgb(255, 255, 255);
    --color-link: rgb(15, 91, 153);
    --color-link-hover: rgb(255, 0, 140);
    --color-border-hover: rgb(128, 198, 255);

    background-color: var(--color-bg);
}

body[data-theme="dark"] {
    --color-bg: #3c3f41;
    --color-bg-dialog: rgb(41, 43, 46);
    --color-link: rgb(133, 166, 227);
    --color-link-hover: rgb(224, 103, 178);
    --color-border-hover: rgb(77, 100, 148);
}

main {
    width: min(100%, 50rem);
    margin-inline: auto;
}

html {
    /* Workaround for a nasty issue in headlessui, see https://github.com/tailwindlabs/headlessui/issues/762 */
    padding-right: 0 !important;
}
